.content {
  background: $gunmetal url('/images/pattern.jpg');
  overflow: hidden;
  line-height: 1.5;

  &__wrapper {
    margin: 0 auto;
    max-width: 960px;
    padding: ($standard-spacing-unit * 2) $standard-spacing-unit;
  }

  &__title {
    margin-bottom: $standard-spacing-unit;

    a {
      text-decoration: none;
    }
  }

  &__meta {
    background: $steel-gray;
    text-transform: uppercase;
    padding: 1em;
    font-size: $font-base-size * 0.75;
  }
}

.post-cards {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $breakpoint-sm) {
    display: flex;
  }

  li {
    margin: $standard-spacing-unit;
    padding: $standard-spacing-unit;
    color: $steel-gray;
    background: $white;

    @media (min-width: $breakpoint-sm) {
      flex: 0 0 calc(50% - #{$standard-spacing-unit});
    }

    &:nth-child(even) {
      @media (min-width: $breakpoint-sm) {
        margin-right: 0;
      }
    }

    &:nth-child(odd) {
      @media (min-width: $breakpoint-sm) {
        margin-left: 0;
      }
    }
  }
}

.post-card {
  a {
    color: $rich-maroon;
    text-decoration: none;

    &:hover {
      color: $blush;
    }
  }

  &__featured-image {
    position: relative;
    padding-bottom: 50%;
    margin-bottom: $standard-spacing-unit;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      width: 100%;
    }
  }

  &__heading {
    margin-bottom: $standard-spacing-unit;
  }
}

.recipe-layout {
  img {
    @media (min-width: $breakpoint-sm) {
      max-width: 50%;
      margin: $standard-spacing-unit auto;
      display: block;
    }
  }
}

.recipe-card {
  background: $white;
  color: $steel-gray;
  padding: $standard-spacing-unit;
  margin: 0 ($standard-spacing-unit * 2);
}
