.header {
  background: $white;

  @media (min-width: $breakpoint-sm) {
    display: flex;
  }

  &__logo {
    @extend %font-accent;
    text-decoration: none;
    color: $blush;
    font-size: $font-base-size * 1.75;
    display: block;
    padding: ($standard-spacing-unit * 0.5) $standard-spacing-unit;
    transition: color 100ms ease-in;
    text-align: center;

    @media (min-width: $breakpoint-sm) {
      flex: 0 1 auto;
    }

    &:hover {
      color: $schauss-pink;
    }
  }

  &__nav {
    @media (min-width: $breakpoint-sm) {
      flex: 0 1 auto;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;

      @media (min-width: $breakpoint-sm) {
        display: flex;
        text-align: left;
      }

      li {
        margin: 0;
        padding: 0;
        display: inline-block;

        @media (min-width: $breakpoint-sm) {
          display: block;
          flex: 0 1 auto;
        }

        a {
          @extend %font-primary-heavy;
          text-transform: uppercase;
          text-decoration: none;
          color: $gunmetal;
          background-color: transparent;
          transition: background-color 100ms ease-in;
          display: block;
          padding: $standard-spacing-unit * 0.75;
          font-size: $font-base-size * 0.85;

          @media (min-width: $breakpoint-sm) {
            font-size: $font-base-size;
            padding: $standard-spacing-unit;
          }

          &:hover, &:active {
            background-color: $blush;
            color: $white;
          }

          &.active {
            background-color: $rich-maroon;
            color: $white;
          }
        }
      }
    }
  }
}
