@import 'settings';
@import 'header';
@import 'footer';
@import 'icons';
@import 'content';
@import 'recipes';
@import 'nutrition';

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  @extend %font-primary;
  @extend %font-primary-light;
  font-size: $font-base-size * 0.85;
  margin: 0;
  background: $steel-gray;
  color: $white;

  @media (min-width: $breakpoint-sm) {
    font-size: $font-base-size;
  }
}

a {
  @extend %font-primary-light;
  text-decoration: underline;
  color: $white;
  transition: color 100ms ease-in;

  &:hover {
    color: $schauss-pink;
  }
}

%visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

h1, h2, h3, h4, h5, h6 {
  @extend %font-accent;
  @extend %font-primary-light;
  margin: 0 0 1em 0;
  line-height: 1.25;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.33em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1.15em;
}

img {
  max-width: 100%;
  height: auto;
}
