<footer class="footer">
  <nav class="footer__social-nav">
    <ul>
      <li>
        <a href="https://twitter.com/nerdisserie" class="icon icon--twitter">
          <span>Twitter</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/heatherpekrul/nerdisserie" class="icon icon--github">
          <span>Github</span>
        </a>
      </li>
      <li>
        <a href="{{ "/feed.xml" | relative_url }}" class="icon icon--rss">
          <span>RSS</span>
        </a>
      </li>
    </ul>
  </nav>
  &copy; {{ site.footer.copyright }}

</footer>
