<footer class="footer">
  <nav class="footer__social-nav">
    <ul>
      <li>
        <a href="https://twitter.com/{{ site.twitter_username }}" class="icon icon--twitter">
          <span>Twitter</span>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/{{ site.facebook_page }}" class="icon icon--facebook">
          <span>Facebook</span>
        </a>
      </li>
      <li>
        <a href="{{ site.github_url }}" class="icon icon--github">
          <span>Github</span>
        </a>
      </li>
      <li>
        <a href="{{ "/feed.xml" | relative_url }}" class="icon icon--rss">
          <span>RSS</span>
        </a>
      </li>
    </ul>
  </nav>
  &copy; {{ site.footer.copyright }}

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7094558918268060"
     crossorigin="anonymous"></script>
<!-- Nerdisserie Footer -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7094558918268060"
     data-ad-slot="2650976897"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

</footer>
