---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting" class="recipe-layout">
  <h1 class="content__title" itemprop="name headline">
    <a href="{{ page.url }}">
      {{ page.title | escape }}
    </a>
  </h1>

  <div class="content__meta">
    Posted on
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
    {%- assign date_format = "%b %-d, %Y" -%}
    {{ page.date | date: date_format }}
  </div>

  <div itemprop="articleBody">
    {{ content }}
  </div>

  <div class="recipe-card" itemscope itemtype="http://schema.org/Recipe">
    <meta itemprop="author" content="{{ site.author }}">

    {% if page.recipe.description %}
      <meta itemprop="description" content="{{ page.recipe.description }}">
    {% endif %}

    {% if page.recipe.category %}
      <meta itemprop="recipeCategory" content="{{ page.recipe.category }}">
    {% endif %}

    {% if page.recipe.cuisine %}
      <meta itemprop="recipeCuisine" content="{{ page.recipe.cuisine }}">
    {% endif %}

    {% if page.recipe.keywords %}
      <meta itemprop="keywords" content="{{ page.recipe.keywords }}">
    {% endif %}

    {% if page.featured_image %}
      <meta itemprop="image" content="{{ site.url }}{{ page.featured_image | relative_url }}">
    {% endif %}

    <h2 itemprop="name">
      {{ page.title | escape }}
    </h2>

    <ul class="recipe-card__meta">
      {% if page.recipe.prep_time %}
        <li>
          Prep Time: <span>{{ page.recipe.prep_time }}</span>
          <meta itemprop="prepTime" content="{{ page.recipe.prep_time_meta }}">
        </li>
      {% endif %}

      {% if page.recipe.cook_time %}
        <li>
          Cook Time: <span>{{ page.recipe.cook_time }}</span>
          <meta itemprop="cookTime" content="{{ page.recipe.cook_time_meta }}">
        </li>
      {% endif %}

      {% if page.recipe.yield %}
        <li>
          Yield: <span itemprop="recipeYield">{{ page.recipe.yield }}</span>
        </li>
      {% endif %}
    </ul>

    <h3>Ingredients</h3>
    {{ page.recipe.ingredients | markdownify }}

    <h3>Directions</h3>
    <div itemprop="recipeInstructions">
      {{ page.recipe.directions | markdownify }}
    </div>
  </div>

  {% if page.tags %}
    {% include post-colophon.html %}
  {% endif %}

  {% if page.comments %}
    {% include disqus.html %}
  {% endif %}
</article>
